{% extends 'base.html.twig' %}

{% block title %}Monitors{% endblock %}

{% block body %}
<div class="example-wrapper">
    <h1>Edycja</h1>
    <h2><a href="{{ path('monitor') }}">Wróć do listy</a></h2>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
</div>
{% endblock %}
